* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: skyblue;
}

.header {
  background: #333;
  height: 80px;
  width: 100%;
}

.nav-bar {
  /*border: 1px solid #fff;*/
  float: right;
  height: 80px;
  width:1000px;

}

.nav-bar > li {
  float: left;
  list-style: none;
  width: 200px;
}

li>a {
  /*display: block;*/
  color: #fff;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  /*font-family: 'Raleway', sans-serif;*/
}


aside {
  border: solid;
  background-image: url(Images/garnet-wink.gif); 
  background-repeat: no-repeat;
  float:left;
  height: 25em;
  width: 100%;
}

nav {
  /*border: solid;*/
  height: 100px;
}

section {
  /*border: solid;*/
  float:right;
  text-align: left;
  width: 50%;
  height: 25em;
  line-height: 30px;
 
}